<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] Saidera FATEC </title>

    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="logo">
            <img width="auto" height="50" src="images/logo.png">
            <label class="logo-text">Saidera</label>
        </div>

        <div class="menu">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>

        <nav>
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a href="">Store </a></li>
                <li><a href="">Contato </a></li>
                <li><a asp-action="Signup" asp-controller="Register">  Cadastro </a></li>
            </ul>
        </nav>
    </header>

    <div>
        <main role="main">
            @RenderBody()
           <!--  criar padrão das views : compatibilidade com layout.cshtml -->
        </main>
    </div>
</body>
</html>
